
<configuration>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{0} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="EPOCH-STATS-FILE" class="ch.qos.logback.core.FileAppender">

        <file>results/logs/epoch-fitness-stats-${bySecond}.log</file>

        <append>true</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>

    <logger name="za.redbridge.simulator.experiment.TrainController" level="info">
        <appender-ref ref="EPOCH-STATS-FILE" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>